<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Micro frontend pages: First page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">    
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Product: My amazing Cellphone</h1>
    </div>
    <div class="row">
        <a href="/" class="btn btn-primary btn-lg">Back to list</a>
        <a href="/second" class="btn btn-secondary btn-lg">Checkout</a>
    </div>
    <img src="/static/images/dummy.jpg" />
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet magnam quod tenetur? Mollitia voluptatum libero, laboriosam explicabo facilis assumenda necessitatibus esse dolore minima perspiciatis fugiat nam a minus. Commodi, voluptatem?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet magnam quod tenetur? Mollitia voluptatum libero, laboriosam explicabo facilis assumenda necessitatibus esse dolore minima perspiciatis fugiat nam a minus. Commodi, voluptatem?</p>
</div>

</body>
</html>