<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Micro frontend pages: Home page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Home page</h1>
    </div>
    <p>This is a simple e-commerce gallery</p>
    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
        
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <a href="/first">
                <img src="/static/images/dummy.jpg" />
            </a>
        </div>
        
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <a href="/first">
                <img src="/static/images/dummy.jpg" />
            </a>
        </div>
        
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <a href="/first">
                <img src="/static/images/dummy.jpg" />
            </a>
        </div>
        
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <a href="/first">
                <img src="/static/images/dummy.jpg" />
            </a>
        </div>
        
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <a href="/first">
                <img src="/static/images/dummy.jpg" />
            </a>
        </div>
        
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <a href="/first">
                <img src="/static/images/dummy.jpg" />
            </a>
        </div>
    </div>
</div>
</body>
</html>